{% extends 'base.html' %}
{% load matches_tags %}
{% block body_classes %}body-2{% endblock %}

{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">сметки</div>
    </div>
    <div class="content-wrp">
        <div class="game-single">
            <div class="match-number">МАЧ {{ match.match_number }}</div>
            <div class="w-row">
                <div class="column-4 w-col w-col-5 w-col-medium-5 w-col-small-5 w-col-tiny-5">
                    <div class="team">
                        <div class="team-ttl">{{ match.home.name }}</div>
                    </div>
                </div>
                <div class="column-3 w-col w-col-1 w-col-medium-1 w-col-small-1 w-col-tiny-1">
                    <div class="score">
                        <div class="score-txt">{% get_match_home_result match.match_result %}</div>
                    </div>
                </div>
                <div class="column-2 w-col w-col-1 w-col-medium-1 w-col-small-1 w-col-tiny-1">
                    <div class="score">
                        <div class="score-txt">{% get_match_guest_result match.match_result %}</div>
                    </div>
                </div>
                <div class="column w-col w-col-5 w-col-medium-5 w-col-small-5 w-col-tiny-5">
                    <div class="team">
                        <div class="team-ttl">{{ match.guest.name }}</div>
                    </div>
                </div>
            </div>
            <div class="match-date">
                {{ match_date }} {{ match_time }}
            </div>
        </div>
        {% for item in predictions %}
            <div class="smetka-wrp">
                <div class="heading content white">Прогноза на {{ item.user.get_user_names }}</div>
                <ul class="result w-list-unstyled">
                    <li class="list-item-2">
                        <div class="text-block white">
                            {{ item.match_state.get_match_state_display }}
                        </div>
                    </li>
                    <li class="list-item-2">
                        <div class="text-block white">
                            Прогнозиран резултат {{ item.goals_home }} : {{ item.goals_guest }}
                        </div>
                    </li>

                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
