{% extends 'base.html' %}
{% block body_classes %}body-2{% endblock %}
{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">контакт</div>
    </div>
    <div class="content-wrp">
        <div class="form-txt form-txt">
            <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    {{ form.name.label }}<br>
                    {{ form.name }}
                </div>
                <div class="text-center">
                    {{ form.email.label }}<br>
                    {{ form.email }}
                </div>
                <div class="text-center">
                    {{ form.message.label }}<br>
                    {{ form.message }}
                </div>
                <br><br>
                <div class="text-center">
                    {{ form.captcha }}
                </div>
                <div class="buttons">
                    <input type="submit" data-w-id="8782863a-1d5d-0d40-92f8-45790f30b309" class="submit-btn w-button"
                            value="изпрати">
                </div>
            </form>
        </div>
    </div>

{% endblock %}