{% extends 'accounts/profile-base.html' %}
{% block  profile_content %}
    <h1 class="heading tab-heading">бонуси</h1>
    <h1 class="heading tab-heading history-ttl red">Ти игра за:</h1>
    <ul class="unordered-list w-list-unstyled">
        {% if bonuses %}
            {% for item in bonuses %}
                <div class="text-block histprylist bonus-list">{{ item.user_bonus_name.bonus_name }}
                    от което можеш да спечелиш
                    <b>{{ item.user_bonus_name.points }}</b> точки
                </div>
                <div class="text-block histprylist bonus-list">
                    <em>*Твоят отговор: {{ item.user_prediction }}<br></em>
                </div>
            {% endfor %}
        {% endif %}

        {% if auto_in %}
            {% for  item in auto_in %}
                <li>
                    <div class="text-block histprylist bonus-list">
                        {{ item.bonus_name }} от което можеш да спечелиш
                        <b>{{ item.points }}</b> точки;
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        {% if not bonuses and not auto_in %}
            <p>Не си участвал за никакви бонуси все още!</p>
        {% endif %}

    </ul>

    <h1 class="heading tab-heading history-ttl red">От това спечели:</h1>
    <ul class="unordered-list w-list-unstyled">
        {% if points_gained %}
            {% for item in points_gained %}
                <li class="bonus-wrp">
                    <div class="text-block histprylist bonus-list">{{ item.user_bonus_name.bonus_name }}
                        - {{ item.points_gained }} точки;
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        {% if auto_points %}
            {% for item in auto_points %}
                <li class="bonus-wrp">
                    <div class="text-block histprylist bonus-list">{{ item.auto_user_bonus_name }}
                        - {{ item.points_gained }} точки;
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    {% if not points_gained and not auto_points %}
        <p>Все още не си получил бонус точки.</p>
    {% endif %}
    <div class="text-block tab remark">Забележка: <br>Бонусите се начисляват след края на съответната фаза или след края
        на първенството. Те ще участват в определянето на финалния резултат, но няма да са видими от другите участници
        до финалното класиране.С други думи те са твоя скрит коз в битката за купата!<br></div>
{% endblock %}

