{% extends 'base.html' %}
{% block body_classes %}body-2{% endblock %}
{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">Регистрация</div>
    </div>
    <div class="content-wrp">
        <div class="form-txt">
            <h2>Попълни формата</h2>
            <h3>Твоите лични данни са си твои и те не представляват интерес.</h3>
            <h3>Затова не ни трябват твоите имена и мейли.</h3>
            <h3>Като попълваш тази форма, обаче, гледай да не си забравяш паролата, защото НЯМА механизъм как да
                възстановиш, освен ако не се свържеш с формата за контакт.</h3>
            <br><br><br>
        </div>
        <div class="form-txt">
            <form method="POST">
                {% csrf_token %}
                <label>Потребителско име</label>
                {% if form.username.errors %}
                    <h2>ЗАСАДА!</h2>
                    {% for error in form.username.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.username }}
                <label>Парола</label>
                {% if form.password1.errors %}
                    <h2>ЖЪЛТ КАРТОН!</h2>
                    {% for error in form.password1.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.password1 }}
                <label>Я дай пак паролата</label>
                {% if form.password2.errors %}
                    <h2>ГРЕДА!</h2>
                    {% for error in form.password2.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.password2 }}
                <br><br><br>
                <div class="text-center">
                    {{ form.captcha }}
                </div>
                <div class="buttons">
                    <input type="submit" data-w-id="8782863a-1d5d-0d40-92f8-45790f30b309" class="submit-btn w-button"
                            value="Регистрация">
                </div>
            </form>
        </div>
    </div>


{% endblock %}