{% extends 'base.html' %}
{% block body_classes %}body-2{% endblock %}
{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">Регистрация</div>
    </div>
    <div class="content-wrp content-wrp--limits">
        <div class="form-txt" style="margin-bottom: 3rem;">
            <h3>Да си знаеш...</h3>
            <p>
                <em>
                    Твоите лични данни са си твои и те това е!
                    Не ти щем ни имената, ни мейлите! Виж бира ако дадеш, тогава ще го мислим...
                    <br>
                    Обаче, ако си забравиш паролата - няма да можем да ти я възстановим!
                    Евентуално, може да ползваш формата за контакт, ама не е гаранция това.
                </em>
            </p>
        </div>
        <div class="form-txt mt-20">
            <form method="POST">
                {% csrf_token %}
                <label>Потребителско име</label>
                {% if form.username.errors %}
                    <h2>ЗАСАДА!</h2>
                    {% for error in form.username.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.username }}
                <label>Парола</label>
                {% if form.password1.errors %}
                    <h2>ЖЪЛТ КАРТОН!</h2>
                    {% for error in form.password1.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.password1 }}
                <label>Я дай пак паролата</label>
                {% if form.password2.errors %}
                    <h2>ГРЕДА!</h2>
                    {% for error in form.password2.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.password2 }}
                <br><br><br>
                <div class="text-center">
                    {{ form.captcha }}
                </div>
                <div class="buttons">
                    <input type="submit" data-w-id="8782863a-1d5d-0d40-92f8-45790f30b309" class="submit-btn w-button"
                            value="Регистрация">
                </div>
            </form>
        </div>
    </div>


{% endblock %}