{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <link href="https://bg.allfont.net/allfont.css?fonts=ds-arabic" rel="stylesheet" type="text/css"/>
    <div class="hero">
        <div class="hero-wrp">
            <div class="ttl-wrp">
                <h1 class="heading gold">Пророкувай!</h1>
                <h2 class="heading">Стани шампион!</h2>
                <a href="{% url 'create_predictions' %}" data-w-id="9298a946-0f8a-94b4-9671-33a1521ce903"
                        class="start-btn w-button">СТАРТ! </a>
            </div>
            <div class="cup-wrp"></div>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="content-wrp content-wrp--limits">
        <div class="text-center ">
            <img src="{% static 'images/home.gif' %}">
        </div>
        <h1 class=" heading content">ЗА КАКВО СТАВА ВЪПРОС<br></h1>
        <div class="text-block">Нещата не са сложни. Мачът почва след 16 минути, но ти все още можеш да дадеш своята
            прогноза.<br>Наред с това ще имаш възможност да познаеш и какъв ще е крайния резултат от срещата.<br></div>
        <h1 class="heading content">Разпределяне на точки:<br></h1>
        <div class="text-block numbers">1.<br></div>
        <div class="text-block">За всяка твоя прогноза получаваш по 1 точка, без значение дали си познал каквото и да
            е...
            Заради олимпийския принцип, you know;<br></div>
        <div class="text-block numbers">2.<br></div>
        <div class="text-block">Aко уцелиш победителя от срещата - получаваш още 3 точки;<br></div>
        <div class="text-block numbers">3.<br></div>
        <div class="text-block">3.И накрая, ако удариш и точния резултат, получаваш още 5 точки.<br></div>
        <h1 class="heading content subheading">В ТОЗИ САЙТ НЯМА НИЩО ХАЗАРТНО.<br> НИКОЙ НЕ ПЕЧЕЛИ ИЛИ ГУБИ КАКВОТО И ДА
            Е!<br></h1>
        <h1 class="heading content">тук Играете за чест и слава!<br></h1>
        <div class="instructions white">
            <h1 class="heading content">ДРУГИТЕ ЗА НАС</h1>
            <div class="text-block">Какво сподели Кристиано за прогнозите си на предишното издание</div>
            <br>
            <div class="text-center">
                <video width="640" height="360" controls="controls" preload="auto">
                    <source src="{% static 'videos/ronaldo.mp4' %}" type="video/mp4">
                    <source src="{% static 'videos/ronaldo.mp4' %}" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}
