

<div class="text-block white">
    Мачовете по-долу са тези, за които все още може да дадеш твоята прогноза.<br>Ако
    дадена среща не се показва, то значи предстои тя започне след по-малко от 15 мин и вече е късно да дадеш
    прогноза за нея.
</div>
<br>
<div class="text-block white" style="text-align: justify;font-size: small"><br>
    <h3>NB! Тъй като е елиминационна фаза и е вероятно мачове да
        приключат на дузпи, без дори
        да има "Асене, VAR-ни" затова ето как ще се отчитат резултатите от дузпите: </h3><br>
    <ul>
        <li>За изход от двубоя, ще се счита крайния победител от мача, след дузпите. <br>Например -
            играят
            Уругвай - Португалия. Ако Уругвай бие в редовното време - това е "Победа за Уругвай". Ако Уругвай
            бие
            след дузпи - това е "победа за Уругвай след дузпи". Двете не са едно и точки ще вземат хората
            познали правилното.
        </li>
        <li>Ако си решил, че мача е "дузпи" - то тогава трябва да въведеш резултата в края на продълженията и
            непосредствено преди самите дузпи да започнат. Той трябва да е равен. <br>Например - Уругвай шунтира
            Португалия с един гол първото полувреме.
            Португалия връщат гола във второто, но в продълженията Кристиано Роналдо е прекалено зает с
            прическата си и те завършват 1 : 1. Това ще е и "точния" резултат един-на-един /не моим ги
            изравним/.
        </li>
    </ul>
</div>
<div class="text-block white" style="text-align: justify;font-size: small"><br>
    <h3>ТОЧКИ за следващите фази:</h3><br>
    <ul>
        <li>
            За всички четвъртфинални мачове - точките ще се удвояват /x2/;
        </li>
        <li>
            За всички полуфинални мачове и малкия финал - точките се утрояват /x3/;
        </li>
        <li>
            За финала - точките се учетворяват /x4/.
        </li>
    </ul>
    <p><em>Вземат се предвид всички точки от прогнозите - за познат изход на двубоя и точен резултат. Точката за
        участие, не се удвоява!</em></p>
</div>
