{% extends 'base.html' %}
{% block body_tag_define %}
    <body class="body-2">
{% endblock %}
{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">сметки</div>
    </div>
    <div class="content-wrp">
        <div class="game-single">
            <div class="match-number">{{ match_number }}</div>
            <div class="w-row">
                <div class="column-4 w-col w-col-5 w-col-medium-5 w-col-small-5 w-col-tiny-5">
                    <div class="team">
                        <div class="team-ttl">{{ home_team }}</div>
                    </div>
                </div>
                <div class="column-3 w-col w-col-1 w-col-medium-1 w-col-small-1 w-col-tiny-1">
                    <div class="score">
                        <div class="score-txt">{{ score_home }}</div>
                    </div>
                </div>
                <div class="column-2 w-col w-col-1 w-col-medium-1 w-col-small-1 w-col-tiny-1">
                    <div class="score">
                        <div class="score-txt">{{ score_guest }}</div>
                    </div>
                </div>
                <div class="column w-col w-col-5 w-col-medium-5 w-col-small-5 w-col-tiny-5">
                    <div class="team">
                        <div class="team-ttl">{{ guest_team }}</div>
                    </div>
                </div>
            </div>
            <div class="match-date">
                {{ match_date }} {{ match_time }}
            </div>
        </div>
        {% if match %}
            {% for item in match %}
                <div class="smetka-wrp">
                    <div class="heading content white">Прогноза на {{ item.user_id }}</div>
                    <ul class="result w-list-unstyled">
                        <li class="list-item-2">
                            <div class="text-block white">
                                {% if item.prediction_match_state == 'home' %}
                                    Победа за {{ item.match.country_home }}
                                {% elif item.prediction_match_state == 'guest' %}
                                    Победа {{ item.match.country_guest }}
                                {% elif item.prediction_match_state == 'penalties_home' %}
                                    Победа за {{ item.match.country_home }} след дузпи
                                {% elif item.prediction_match_state == 'penalties_guest' %}
                                    Победа за {{ item.match.country_guest }} след дузпи
                                {% else %}
                                    Равен
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-item-2">
                            <div class="text-block white">
                                Прогнозиран резултат {{ item.prediction_goals_home }}
                                : {{ item.prediction_goals_guest }}
                            </div>
                        </li>

                    </ul>
                </div>

            {% endfor %}

        {% else %}
            <div class="text-block white">
                <br><br>
                Не може да гледаш прогнозите на другите за все още незавършили мачове!<br>
                Трябва да се опази тайната на вота!<br>
                В противен случай ще паркират автобусите от Турция пред вратата и няма да има голове.
            </div>
        {% endif %}
    </div>
{% endblock %}
