{% extends 'base.html' %}
{% block body_classes %}body-2{% endblock %}

{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl" style="line-height:5rem">
            ОБЩА КОНГРЕСНА ИНФОРМАЦИЯ
        </div>
    </div>
    <br><br><br><br>
    <div class="content-wrp">
        <div class="instructions white">
            <h2>Този сайт няма комерсиална цел! </h2>
            <h4>
                Тук сме за да играем за чест и слава! Освен чест и слава, няма да получиш никакви други облаги или
                награди. Ако това не те кефи, винаги може да отидеш да залагаш сериозно по местата определени за тази
                цел.
            </h4>
            <h4>
                Политика за лични данни има само една - не ги събираме, не им се кефим и не ги продаваме на Фейсбук.
                Това, че помпиш тука неща, значи че си съгласен.
            </h4>
        </div>
        <br><br>
        <div class="instructions white">
            Може да даваш твоите майсторски прогнози само за мачове, които започват след повече от 15 минути.
            Сложили сме ти удобен каунтър да се ориентираш.*<br>
            <em style="font-size:small">*Това правило може да се наруваша само от Боби Михайлов, който може по всяко
                време да депозира и отпозира прогнозите си и от Ван-Здрънчов.<br>
                Във втория случай имаме надежни схеми, по които да го разберем.</em>
            <h3>Ко те фанем, че падаш нарочно за дузпа, като нищо ще те пратим към съблекалнята.</h3>
        </div>
        <br>
        <div class="text-block white" style="text-align: justify;font-size: 1rem; line-height:2"><br>
            <h3>ДУЗПИ</h3><br>
            <ul>
                <li>За изход от двубоя, ще се счита крайния победител от мача, след дузпите. <br>
                    Например - играят С.Македония - Португалия. Ако С.Македония бие в редовното време - това е "Победа
                    за С.Македония". Ако С.Македония бие след дузпи - това е "победа за С.Македония след дузпи".
                    Двете не са едно и точки ще вземат хората познали правилното.
                </li>
                <li>Ако си решил, че мача е "дузпи" - то тогава трябва да въведеш общия резултат след дузпите.<br>
                    Пример: мача завършва 1:1. След "каква поредна футболна драма на рулетката на дузпите" едните имат
                    вкарани 3 дузпи, другите 2, тогава крайния резултат ще е 1+3 : 1+2 = 4 : 3 общ резултат.

                </li>
            </ul>
        </div>
        <div class="text-block white" style="text-align: justify;font-size: 1rem; line-height:2"><br>
            <h3>ТОЧКИ по фази:</h3><br>
            <ul>
                <li>
                    За всички четвъртфинални мачове - точките ще се удвояват /x2/;
                </li>
                <li>
                    За всички полуфинални мачове и малкия финал - точките се утрояват /x3/;
                </li>
                <li>
                    За финала - точките се учетворяват /x4/.
                </li>
            </ul>
            <p><em>Вземат се предвид всички точки от прогнозите - за познат изход на двубоя и точен резултат. Точката за
                участие, не се удвоява!</em></p>
            <p>Като даваш прогнозата ясно ще пише какъв е множителя за съответните мачове.</p>
        </div>
        <div class="text-block white" style="text-align: justify;font-size: 1rem; line-height:2"><br>
            <h3>За ДЖИНА, без тоник*</h3>
            <h4>*пиенето на джин БЕЗ тоник, трябва да се избягва винаги</h4>
            <p>
                ДЖИНА е магическо същество от АЛАДИНов произход.
                Някои казват, че именно то/щото не го знаем какво е и сме полово-неутрален сайт при все, че става дума
                за залози за мач/ е 41-вият разбойник.
                По принцип се храни с дюнери от Манджа Стрийт, а не от Аладин, защото последните не са дали 1 лев за
                реклама в тоя сайт. А можеше и да не е така!!!
                Обаче, като затвориха Манджа Стрийт в полза на блок за бедни студенти за по 600 лв на кръгче, т'ва
                започна да яде точки от тези, дето вие печелите като се хецате тука.
                Но понеже точките ни са веган/щото сме полово-неутрален сайт - виж по-горе/, затова и това е вечно
                гладно и се чуди как да ви изяде точните и нон-стоп предлага облози на играчите.
            </p>

            <br>
            <h5>Схемата е следната</h5>
            <ul>
                <li>
                    На всяка прогноза за мач, джина ще ти предлага да заложиш определен брой от твоите точки
                </li>
                <li>
                    Предложенията ще бъдат отделно за изход от двубоя и за познаване на краен резултат
                </li>
                <li>
                    Можеш да решаваш поотделно за всеки мач, кои от тези предложения да приемеш
                </li>
                <li>
                    Ако приемеш предложението и успееш да познаеш - ДЖИНА ще ти даде допълнително колкото точки ти е
                    обещал към тези, които се начисляват за мач. Примерно, ако си изкарал 4 точки от мача и
                    си се обзаложил с ДЖИНА на 5 точки за финалния резултат срещу 10 в замяна, общо за мача ще получиш
                    14 точки.
                </li>
                <li>
                    Ако приемеш и не познаеш, ДЖИНА ще изяде колкото точки сте се обложили - т.е. ако си спечелил 4
                    точки, ама сте се обзаложили с ДЖИНА за 5, ще останеш на -1 точка от този мач.
                    Тази -1 точка я даваме ние на ДЖИНА, но ще си я пишем на твоя сметка и ще трябва да ни я върнеш.
                    Ако спонсорството беше минало, това нямаше да се налага, но това е живота!
                </li>
                <li>
                    Може да теглите една на всички ДЖИНовинии и да си играете нормално.
                    <strong>Всеки сам си преценя!</strong>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}