{% extends 'base.html' %}
{% load ranking_tags %}
{% block body_classes %}body-2{% endblock %}

{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">Прогнози на {{ username.extra.get_user_names }}</div>
    </div>
    <div class="content-wrp">
        {% for item in page_obj %}
            <div class="game-single inprofile">
                <div class="match-number matchnumberprofile color-primary">
                    мач {{ item.match.match_number }}
                </div>
                <div class="w-row">
                    <div class="column-4 w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6">
                        <div class="team team-profile">
                            <div class="team-ttl ttlprofile">{{ item.match.home.name }}</div>
                        </div>
                    </div>
                    <div class="column w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6">
                        <div class="team team-profile">
                            <div class="team-ttl ttlprofile">{{ item.match.guest.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="game-history w-row">
                    <div class="w-col w-col-6">
                        <h1 class="heading tab-heading history-ttl color-primary">
                            Прогнозирал
                        </h1>
                        <ul class="unordered-list w-list-unstyled">
                            <li class="bonus-wrp">
                                <div class="text-block histprylist white">
                                    {{ item.match_state.get_match_state_display }}
                                </div>
                            </li>
                            <li class="list-item-4">
                                <div class="text-block histprylist white">
                                    Голове за {{ item.match.home.name }}: {{ item.goals_home }}<br>
                                </div>
                            </li>
                            <li class="list-item-5">
                                <div class="text-block histprylist white">
                                    Голове за {{ item.match.guest.name }}: {{ item.goals_guest }}
                                    <br>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="w-col w-col-6">
                        <h1 class="heading tab-heading history-ttl color-primary">
                            Действително
                        </h1>
                        <ul class="unordered-list w-list-unstyled">
                            <li class="bonus-wrp">
                                <div class="text-block histprylist white">
                                    {{ item.match.match_result.match_state.get_match_state_display }}
                                </div>
                            </li>
                            <li class="list-item-4">
                                <div class="text-block histprylist white">
                                    Голове за {{ item.match.home.name }}: {{ item.match.match_result.score_home }}<br>
                                </div>
                            </li>
                            <li class="list-item-5">
                                <div class="text-block histprylist white">
                                    Голове за {{ item.match.guest.name }}: {{ item.match.match_result.score_guest }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <h1 class="heading tab-heading history-ttl color-primary">
                    Получени точки за срещата:
                </h1>
                <div class="text-block histprylist white">
                    {{ item.prediction_points.note|linebreaks }}
                </div>
                <h2 class="text-block histprylist points-indicator color-primary">
                    Общо точки за този мач: {{ item.prediction_points.points_gained }} т.
                </h2>
            </div>
        {% endfor %}
        {% if not ranklist %}
            <div class="text-block histprylist white">
                Все още няма завършили мачове, които този играч е прогнозирал. Когато такива се появят, веднага ще ги
                покажем!
            </div>
        {% endif %}
        {% if bonuses %}
            <h1 class="heading tab-heading history-ttl red color-primary">Получени бонус точки:</h1>
            <div class="text-block histprylist вхите"> {{ bonuses.total_summary|linebreaks }}<br>
            </div>
            <div class="text-block histprylist points-indicator color-primary">
                Общо бонус точки: {{ bonuses.total_bonus_points }} т.<br>
            </div>
            <div class="text-block histprylist points-indicator color-primary">
                Всички бонус точки са прибавени към крайния резултат!<br>
            </div>
        {% endif %}
    </div>
    <ul class="page">
        {% if page_obj.has_previous %}
            <li class="page__btn inverted">
                <a href="?page={{ page_obj.previous_page_number }}"> ◀ </a>
            </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if forloop.counter == page_obj.number|add:"-1" or  forloop.counter == page_obj.number|add:"1" or forloop.counter == page_obj.number %}
                <li class="page__numbers inverted {% if page_obj.number == forloop.counter %}current{% endif %}">
                    <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% elif forloop.counter == page_obj.number|add:"-2" or  forloop.counter == page_obj.number|add:"2" %}
                <li class="page__numbers" style="cursor:default; pointer-events: none;">
                    ...
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page__btn inverted">
                <a href="?page={{ page_obj.next_page_number }}"> ▶ </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}


