{% extends 'base.html' %}
{% load staticfiles %}
{% block header_scriptload %}
    <script type="text/javascript" src="{% static "js/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fusioncharts.theme.zune.js" %}"></script>
{% endblock %}

{% block body_tag_define %}
    <body class="body-2">
{% endblock %}

{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">Статистика</div>
    </div>
    <div class="content-wrp">
        <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
            <div class="tabs-menu w-tab-menu">
                <a href="{% url 'site_stats:text_stats' %}" class="tab-link w-inline-block w-tab-link w--current">
                    <div class="tab-text">Обобщена</div>
                </a>
                <a href="{% url 'site_stats:prediction_chart' %}" class="tab-link w-inline-block w-tab-link">
                    <div class="tab-text">Прогнози</div>
                </a>
                <a href="{% url 'site_stats:prediction_points' %}" class="tab-link w-inline-block w-tab-link">
                    <div class="tab-text">Точки</div>
                </a>
                <a href="{% url 'site_stats:user_selector' %}" class="tab-link w-inline-block w-tab-link">
                    <div class="tab-text">Потребители</div>
                </a>
            </div>
            <div class="tabs-content w-tab-content">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
