{% extends 'base.html' %}
{% load static ranking_tags %}
{% block body_classes %}body-2{% endblock %}

{% block body_content %}
    <div class="inner_page_header">
        <div class="heading inner-ttl">Ранглиста</div>
    </div>
    <div class="content-wrp">
        {% for item in ranklist %}
            <div class="{% get_rank_html_class forloop.counter %} w-row">
                <div class="badge w-col w-col-3 w-col-stack">
                    {% if item.points > 0 %}
                        <img src="{% static 'images' %}/{% get_rank_image_name forloop.counter %}"
                                width="{% get_rank_image_width forloop.counter %}"
                                class="image {% get_rank_image_class forloop.counter %}">
                    {% else %}
                        <img src="{% static 'images/Rank-negative.png' %}" width="100" class="image bojinka">
                    {% endif %}
                </div>
                <div class="info-wirp {% get_row_wrapper forloop.counter %} w-col w-col-9 w-col-stack">
                    <div class="info-table w-row">
                        <div class="w-col w-col-4">
                            <div class="rarnk-txt position">{{ forloop.counter }}</div>
                        </div>
                        <div class="w-col w-col-4">
                            <div class="rarnk-txt user">
                                <a href="{% url 'ranklist_detail' pk=item.user.pk %}" class="white">
                                    {% if forloop.counter == 1 %}
                                        <em class="color-primary">ШЕЙХ </em>
                                    {% elif forloop.counter == 2 %}
                                        <em class="color-primary">СУЛТАН-БИН </em>
                                    {% elif forloop.counter == 3 %}
                                        <em class="color-primary">ХАБИБ-АЛ </em>
                                    {% endif %}
                                    {{ item.user.get_user_names }}
                                    {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
                                        &nbsp;<img src="{% static 'images/check.png' %}" width="25">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="w-col w-col-4">
                            <div class="rarnk-txt points">{{ item.points }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not ranklist %}
            <div class="{% get_rank_html_class 1 %} w-row">
                <div class="info-wirp w-col w-col-9 w-col-stack">
                    <div class="info-table w-row">
                        <div class="w-col w-col-4">
                            <div class="rarnk-txt position">1</div>
                        </div>
                        <div class="w-col w-col-8">
                            <div class="rarnk-txt user">
                                {% if user.is_authenticated %}
                                    ←&nbsp;&nbsp;&nbsp;ТУК може да си ти!
                                {% else %}
                                    <a href="{% url 'register' %}" class="white">
                                        ←&nbsp;&nbsp;&nbsp;ТУК може да си ти!
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
